<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gospec.mapper.ContestMapper">


	<select id="findAll" resultType="com.gospec.domain.ContestDto">
		select * from contest_info
	</select>

	<select id="findByDurationAll" resultType="com.gospec.domain.ContestDto">
		select * from contest_info where start_date between #{startDate} and #{endDate}
	</select>
	
	<select id="findByBookMarkWithDurationAndEmail" resultType="com.gospec.domain.ContestDto">
		select * from contest_info, bookmark_contest
		where bookmark_contest.username = #{email} and contest_info.start_date between #{startDate} and #{endDate}
		and contest_info.contest_no = bookmark_contest.contest_no 
	</select>
</mapper>
