<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gospec.mapper.MessageMapper">

	<select id="findReceiveMessage" resultType="com.gospec.domain.MessageDto">
		select * 
		from receive_message
		where receiver=#{username}
	</select>
	
	<select id="findSendMessage" resultType="com.gospec.domain.MessageDto">
		select * 
		from send_message
		where sender=#{username}
	</select>
	
	<select id="countNewReceiveMessage" resultType="Integer">
		select count(*) 
		from receive_message
		where receiver=#{username}
		and reading=#{reading}
	</select>
	
	<insert id="saveReceiveMessage">
		insert into receive_message (contents, receiver, sender)
		values (#{contents}, #{receiver}, #{sender})
	</insert>
	
	<insert id="saveSendMessage">
		insert into send_message (contents, receiver, sender)
		values (#{contents}, #{receiver}, #{sender})
	</insert>
	
	<delete id="deleteReceiveMessage">
		delete from receive_message
		where no=#{no}
	</delete>
	
	<delete id="deleteSendMessage">
		delete from send_message
		where no=#{no}
	</delete>
	
	<update id="updateSendMessage">
		update send_message
		set reading=#{reading}
		where no=#{no}	
	</update>
	
	<update id="updateRecieveMessage">
		update receive_message
		set reading=#{reading}
		where no=#{no}	
	</update>
</mapper>
