<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gospec.mapper.TeamMapper">

	<select id="findAll" resultType="com.gospec.domain.TeamDto">
		select * 
		from find_team_board
	</select>

</mapper>
